<div class="header">
  <h1>Post <%= @post.id %></h1>
  <h4 class="header-stats">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h4>
</div>
<section id="post_info">
  <div class="post_desc">
    <div class="unit">
      <h2><%= @post.title %> by <%= @post.author.name %></h2>
    </div>
  </div>
    </div>
    <p class="P_text"><%= @post.text%></p>
  </div>
<% if can? :delete, @post %>
  <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>

  <div class="com_on_Post">
  <h3>comments:</h3>
    <ul>
      <% @post_comments.each do |comment| %>
<li>
  <%= User.find(comment.user_id).name %>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</section>